<div id="historia" class="container">
    <p class="title">{{title}}</p>
    <hr>
    <div class="row">
        <div class="col-md-5" style="margin-top: -20px;">
            <img src="{{image}}" class="img-responsive" alt="Historia de la Casa de Bolsa Citibanamex">
        </div>
        <div class="col-md-7" style="margin-top: -30px;">
            <h4 class="SubTitle">{{textSubtitle}}</h4>
            <p class="paragraph">{{paragraph1}}</p>
            <p class="paragraph" [innerHtml]="paragraph2">{{paragraph2}}</p>
            <p class="paragraph3">{{paragraph3}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 foot">{{foot}}</div>
        <div class="col-md-1"></div>
    </div>
</div>
